/*
Theme Name: ФОНДА «РОССИЙСКО-ПОЛЬСКИЙ ЦЕНТР ДИАЛОГА И СОГЛАСИЯ»
Author: prohorweb
Author URI: http://prohorweb.ru/
*/
@import url("assets/css/page.css");
@import url("assets/css/font-face.css");
@import url("assets/css/form.css");
@import url("assets/css/media.css");


body {
  font-family:'Circe-Regular';
  color: #4a4a4a;
  font-size: 1.125rem;
  line-height: 1.3;
}

a {
  color: #3760c8;
}
a:hover {
  opacity: .85;
  color:inherit;
}

ul li {
  list-style-type: none !important;
}

b {
  font-family:'Circe-Bold';
}
.button {
  background: #fff;
  border: 2px solid #d6d6d6;
  border-radius: 100px;
  color: #000 !important;
  padding: 5px 6px 5px 20px;
  cursor: pointer;
}
.button p {
  margin:0;
}
.button i.fas.fa-chevron-circle-right {
    color: #d6d6d6;
    font-size: 21px;
    padding: 0 7px;
}

a:hover.button {
  text-decoration: none;
}

.btn:focus {
    box-shadow: none;
}

section, article {
  overflow: hidden;
  position: relative;
}
article {
  margin-top: 3rem;
}

.fa-bars.active:before {
  content: "\f00d";
}

.content iframe {
  width: 100%;
  height: 500px;

}
.tab-thumb-media iframe {
  width: 100%;
  height: 280px;
}

.thumb-media iframe {
  width: 100%;
  height: 170px;
}

.wp-block-video video {
    width: 100%;
    height: 170px;
    background: black;
}

.d-top {
  z-index: 1;
}

.date {
  color:#9b9b9b;
  font-size: .75rem;
  margin: 20px 0 5px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #fff;
    background-color: inherit;
}

.f10 {
  font-size: .625rem;
}

.f12 {
  font-size: .75rem;
}

.f14 {
  font-size: .85rem;
}

.f16 {
  font-size: 1rem;
}

.f18 {
  font-size: 1.125rem;
}

.f20 {
  font-size: 1.25rem;
}

.f22 {
  font-size: 1.375rem;
}

.f24 {
  font-size: 1.5rem;
}

.f26 {
  font-size: 1.625rem;
}

.f28 {
  font-size: 1.75rem;
}

.f32 {
  font-size: 2rem;
}

.f36 {
  font-size: 2.25rem;
}

.f46 {
  font-size: 2.875rem;
}

.f56 {
  font-size: 3.5rem;
}

.f72 {
  font-size: 4.5rem;
}

.f84 {
  font-size: 5.25rem;
}

@media (max-width: 992px) {

  .f-sm-18 {
    font-size: 1.125rem;
  }

  .f-sm-20 {
    font-size: 1.25rem;
  }

  .f-sm-22 {
    font-size: 1.375rem;
  }

  .f-sm-24 {
    font-size: 1.5rem;
  }

  .f-sm-32 {
    font-size: 2rem;
  }

  .f-sm-36 {
    font-size: 2.25rem;
  }
}

@media (max-width: 768px) {

    .f-xs-14 {
      font-size: .85rem;
    }

    .f-xs-16 {
      font-size: 1rem;
    }
    .f-sm-18 {
      font-size: 1.125rem;
    }

    .f-xs-20 {
      font-size: 1.25rem;
    }

    .f-xs-22 {
      font-size: 1.375rem;
    }

    .f-xs-24 {
      font-size: 1.5rem;
    }
}


.helvatica {
  font-family: 'Helvetica';
}
.graphik-lcg-super {
  font-family: 'Graphik LCG Super';
}

.graphik-lcg-light {
  font-family: 'Graphik LCG Light';
}

.graphik-lcg-super {
  font-family: 'Graphik LCG Super';
}

.graphik-lcg-bold {
  font-family: 'GraphikLCWeb-Semibold';
}

.bg-grey-light {
  background: #fbfbff;
}

.f-white {
  color: white;
}

.f-black {
  color: black;
}

.f-blue {
  color: #3760c8;
}

.bg-light {
  background: #fff;
}

.bg-blue {
  background: #3760c8 !important;
}

.text-gray-slow {
  color:#f1f1f1;
}

.text-gray-light {
  color: #9b9b9b;
}

.circle-bold {
  font-family: 'Circe-Bold';
}

.text-red {
  color: #ff0000;
  font-family: serif;
}

.text-grey {
  color: #4a4a4a;
}

.arrow-down::after {
  display: inline-block;
  content: "";
  margin-left: 5px;
  width: 22px;
  height: 22px;
  transform: rotate(45deg);
  border-right: 2px solid rgba(255, 255, 255);
  border-bottom: 2px solid rgba(255, 255, 255);
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.modal-dialog {
  max-width: 800px;
}

.card {
  background-repeat: no-repeat;
  background-position: right;
}

.card-header, .card-footer {
  background-color: transparent;
}


.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}
@media(max-width: 768px) {
  .modal-dialog {
    min-height: calc(100vh - 20px);
  }
}
