@font-face {
    font-family:'GraphikLCWeb-Regular';
    src: url('../fonts/GraphikLC/GraphikLCWeb-Regular.eot');
    src: url('../fonts/GraphikLC/GraphikLCWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLC/GraphikLCWeb-Regular.woff') format('woff'),
        url('../fonts/GraphikLC/GraphikLCWeb-Regular.ttf') format('truetype'),
        url('../fonts/GraphikLC/GraphikLCWeb-Regular.svg#/GraphikLCWeb-Regular') format('svg');
}

@font-face {
    font-family:'GraphikLCWeb-Semibold';
    src: url('../fonts/GraphikLC/GraphikLCWeb-Semibold.eot');
    src: url('../fonts/GraphikLC/GraphikLCWeb-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLC/GraphikLCWeb-Semibold.woff') format('woff'),
        url('../fonts/GraphikLC/GraphikLCWeb-Semibold.ttf') format('truetype'),
        url('../fonts/GraphikLC/GraphikLCWeb-Semibold.svg#/GraphikLCWeb-Semibold') format('svg');
}

@font-face {
    font-family: 'Graphik LCG Super';
    src: url('../fonts/GraphikLC/GraphikLCG-Super.eot');
    src: url('../fonts/GraphikLC/GraphikLCG-Super.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLC/GraphikLCG-Super.woff') format('woff'),
        url('../fonts/GraphikLC/GraphikLCG-Super.ttf') format('truetype'),
        url('../fonts/GraphikLC/GraphikLCG-Supe.svgr#/GraphikLCG-Super') format('svg');
}

@font-face {
    font-family: 'Graphik LCG Light';
    src: url('../fonts/GraphikLC/GraphikLCG-Light.eot');
    src: url('../fonts/GraphikLC/GraphikLCG-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLC/GraphikLCG-Light.woff2') format('woff2'),
        url('../fonts/GraphikLC/GraphikLCG-Light.woff') format('woff'),
        url('../fonts/GraphikLC/GraphikLCG-Light.ttf') format('truetype'),
        url('../fonts/GraphikLC/GraphikLCG-Light.svg#GraphikLCG-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family:'Circe-Regular';
    src: url('../fonts/Circe/Circe-Regular.eot');
    src: url('../fonts/Circe/Circe-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe/Circe-Regular.woff') format('woff'),
        url('../fonts/Circe/Circe-Regular.ttf') format('truetype'),
        url('../fonts/Circe/Circe-Regular.svg#/Circe-Regular') format('svg');
}

@font-face {
    font-family:'Circe-Bold';
    src: url('../fonts/Circe/Circe-Bold.eot');
    src: url('../fonts/Circe/Circe-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe/Circe-Bold.woff') format('woff'),
        url('../fonts/Circe/Circe-Bold.ttf') format('truetype'),
        url('../fonts/Circe/Circe-Bold.svg#/Circe-Bold') format('svg');
}
