/* FORM */
.form-grants {
  color: #fff;
  margin-left: 70px;
}

.form-grants h1 {
  margin-bottom: 40px;
}

.form-top-block input {
  font-size: 16px;
  line-height: 1.56;
  padding: 0 10px 10px;
  border: 0;
  border-bottom: 1px solid #ffffff70;
  background: #3760c8;
  color: #fff;
  margin-bottom: 20px;
  width: 100%;
}

.form-top-block input::-webkit-input-placeholder {
  color: #ffffff70;
}

.themes {
  padding: 0;
  width: 80px;
}

.themes label {
  background-color: #3760c8;
  border-radius: 10%;
  background-size: 70%;
  background-position: 50%;
  background-repeat: no-repeat;
  border: 1px solid;
  cursor: pointer;
}

.checkbox:not(checked)+label {
  width: 80px;
  height: 80px;
  margin-top: -25px;
}

.checkbox:checked+label {
  background-color: #fff;
}

.checkbox.science:not(checked)+label {
  background-image: url(../img/icon-sci.png)
}

.checkbox.science:checked+label {
  background-image: url(../img/icon-sci-blue.png) !important;
}

.checkbox.science:not(checked)+label {
  background-image: url(../img/icon-sci.png)
}

.checkbox.science:checked+label {
  background-image: url(../img/icon-sci-blue.png) !important;
}

.checkbox.kultura:not(checked)+label {
  background-image: url(../img/icon-kultura.png)
}

.checkbox.kultura:checked+label {
  background-image: url(../img/icon-kultura-blue.png) !important;
}

.checkbox.literatura:not(checked)+label {
  background-image: url(../img/icon-literatura.png)
}

.checkbox.literatura:checked+label {
  background-image: url(../img/icon-literatura-blue.png) !important;
}

.checkbox.sport:not(checked)+label {
  background-image: url(../img/icon-sport.png)
}

.checkbox.sport:checked+label {
  background-image: url(../img/icon-sport-blue.png) !important;
}

.checkbox.any:not(checked)+label {
  background-image: url(../img/icon-any.png)
}

.checkbox.any:checked+label {
  background-image: url(../img/icon-any-blue.png) !important;
}

textarea.form-control {
  border: 1px solid #fff;
  background-color: #3760c8 !important;
  color: #fff !important;
}

textarea.form-control::-webkit-input-placeholder {
  color: #ffffff70;
}

textarea.form-control::-moz-placeholder {
  color: #ffffff70;
}

.wpcf7-response-output.wpcf7-validation-errors, .wpcf7-mail-sent-ok,
.wpcf7-not-valid-tip,
.wpcf7-mail-sent-ok {
  color: #ffffff !important;
  background: #2e4d93cc;
  padding: .5rem !important;
  border-radius: 6px;
  border:0 !important;
}

button.close {
  position: absolute;
  right: 0;
}
