@media (max-width:1200px) {
  .container {
    max-width: 100% !important;
  }

  .w-lg-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 12px;
  }

  .col-mobile_articles .col {
    max-width: 60%;
    flex: 0 0 60%;
  }

  .col-mobile_event .col {
    max-width: 30%;
    flex: 0 0 30%;
  }

  .checkbox:not(checked)+label {
    width: 70px;
    height: 70px;
  }

  .form-grants {
    margin-left: 40px;
  }

  .slider-nav,
  .slider-nav .slick-track {
    height: 300px;
  }
}

@media (max-width:991px) {

    body {
      margin-top: 54px !important;
    }

  .nav-item {
    flex: 0 0 auto;
    float: none;
    text-align: center;
    border-bottom: 1px solid #ffffff30;
  }

  .slide-content {
    height: 18.5rem;
    margin-bottom: .5rem;
  }

  .main-page {
    padding: 1.56rem 0;
  }

  .flag {
    width: 54px;
  }

  .f46 {
    font-size: 1.85rem !important;
  }

  .title {
    margin-bottom: 23px;
  }

  .w-md-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .desktop {
    display: none;
  }

  .tablet {
    display: block;
  }

  .cat-mobile img {
    padding: .6rem;
  }

  .events-all,
  .all-events-btn {
    display: block;
  }

  .more-events-btn {
    display: none !important;
  }

  .one-event {
    margin-left: -15px;
  }

  .form-grants {
    margin-left: 0;
    padding: 0 2rem 0rem 1rem;
  }

  .grants {
    padding: 40px 0;
    background: linear-gradient(to right, #fff 40%, #3760c8 40%);
  }

  .partners {
    padding: 40px 0;
  }

  .slider-nav,
  .slider-nav .slick-track {
    height: auto;
    margin: 1rem 0;
  }
}

@media (max-width: 768px) {
  .slide-content {
    height: 12.5rem;
  }

  .carousel-indicators {
    bottom: .8rem;
  }

  .w-sm-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .about_tabtext {
    border: 1px solid #979797;
    padding: 5rem 1rem 0 1rem;
    margin-top: -4rem;
    border-radius: 11px;
    height: 350px;
    box-shadow: 0px 3px 17px 1px rgba(0, 0, 0, 0.22);
  }

  .cat-mobile.col {
    max-width: 15%;
    flex: 0 0 15%;
  }

  .col-mobile_articles .col,
  .col-mobile_event .col {
    max-width: 40%;
    flex: 0 0 40%;
  }

  .grants {
    padding: 30px 0 0 0;
    background: transparent;
  }

  .form-grants {
    margin: 0;
    padding: 30px 1rem;
    background: #3760c8;
  }
}

@media (max-width: 426px) {
  .w-xs-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-top: 2px;
  }
  .cat-mobile.col {
      max-width: 22%;
      flex: 0 0 22%;
  }

  .col-mobile_articles .col,
  .col-mobile_event .col {
    max-width: 70%;
    flex: 0 0 70%;
  }

  .slider-for .slick-list .slick-track .slick-slide {
    margin: auto;
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .cat-mobile.col {
      max-width: 30%;
      flex: 0 0 30%;
  }
}
