/* HEADER */
.header {
  height: 100px;
  padding: 2rem 0;
  color: white;
}

.navbar-mobile {
  height: 3.375rem !important;
}

.navbar-brand {
  width: 160px;
  height: auto;
  margin: 0;
}

nav a {
  color: #fff;
}

.nav-item {
  float: left;
}

.nav-link {
  color: #fff;
  cursor: pointer;
  font-size: .85rem;
}

.dropdown-menu {
  background: transparent;
}

.dropdown-menu.show.mobile {
  transform: translate3d(0px, 15px, 0px) !important;
}

a.dropdown-item {
  font-size: .7rem;
  padding: 0;
  line-height: 1.3rem;
  color: #fff;
}

.caret::after,
.dropdown-toggle::after {
  display: inline-block;
  position: relative;
  content: "";
  top: -2px;
  right: -4px;
  margin-left: 5px;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  vertical-align: 0;
  border-right: 2px solid rgba(255, 255, 255);
  border-bottom: 2px solid rgba(255, 255, 255);
  border-top: 0;
  border-left: 0;
}

.dropdown-toggle.mobile::after {
  right: 4px;
}

.social {
  border-left: 1px solid #e4f1fd;
  border-right: 1px solid #e4f1fd;
  height: 32px;
  padding: 0 6px;
}

.social a {
  height: 20px;
}
.social-mobile {
  font-size: 1.8rem;
  opacity: .8;
  padding: 3rem 1.5rem;
}

.social-mobile a {
  color: #fff;
}

.lang {
  border-right: 1px solid #e4f1fd;
 height: 32px;
}
.lang-btn {
  cursor: pointer;
}
.lang a img{
  width: 25px;
}
.lang a img.active{
  border: 2px solid #133caf;
  padding: 1px;
  width: 28px !important;
}

.search-btn, .search-close {
  cursor: pointer;
}
.search-text {
  margin: 25px -20px;
  padding-left: 25px;
  padding-bottom: 5px;
  border: 0;
  border-bottom: 1px solid #c8c8c8;
  width: 100%;
  font-size: 16px;
}
.search-close,
.icon-search-text{
  padding: 25px 0;
  font-size: 16px;
  color: grey;
  z-index: 1;
}
.nav-mobile ul {
  flex: 1 0 auto;
}

.nav-mobile li {
  padding: 1rem;
}

.navbar-toggle-offcanvas-left {
  color: #d8d8d8;
}

[off-canvas*=left] {
  width: 200px !important;
}

.offcanvas-element {
  background: #3760c8;
}

/* END HEADER */
/* CAROUSEL */
.bg-item {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 50, 148, 0.7);
  background-blend-mode: darken;
}

.slide-content {
  height: 37.5rem;
}

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  font-size: 12px;
  top: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: -25px 10% 0;
  padding: 0;
  border: 1px solid #fff;
  background: 0 0;
  border-radius: 50%;
}

.carousel-indicators li {
  width: 14.5px;
  height: 14.5px;
  margin-right: 7px;
  border-radius: 100%;
  background-color: #d8d8d8;
}

.carousel-indicators .active {
  width: 14.5px;
  height: 14.5px;
  border: 1px solid #d8d8d8;
  background: transparent;
  -ms-flex-align: center !important;
  align-items: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.carousel-indicators .active .round {
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: #7ed321;
}

/* END CAROUSEL */
/* SECTIONS */
.main-page {
  padding-top: 3rem;
}

/* About section */
.flag{
  width: 84px;
}

.about_title {
  margin-bottom: 40px;
}

.tab-content {
  padding-top: 30px;
}

.menu-tabs li a {
  color: #000;
  border: 2px solid #d6d6d6;
  border-radius: 100px;
  padding: .4rem .8rem;
  margin-right: 20px;
}

.menu-tabs a.active {
  color: #3760c8;
  border: 2px solid #3760c8;
  border-radius: 100px;
  padding: .4rem .8rem;
}

.about img.photo {
  background: white;
  color: #3760c8;
  border: 2px solid #3760c8;
  border-radius: 100%;
  max-width: 100%;
  height: auto;
}

/* Articles section */
.articles, .media {
  padding: 30px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  color: #444;
}

 a .title, a p {
  color: #444;
}
.articles p {
  color: #444c;
}

.articles-all,
.events-all,
.all-art-btn,
.all-events-btn {
    display: none;
}

.read-more {
  color: #4a90e2
}

.cat_menu {
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 18, 109, 0.14);
  background-color: #fafcff;
}

.cat {
  padding: .2rem 1rem;
  background: #fff;
  text-align: center;
  box-shadow: 0 1px 3px 0 rgba(0, 6, 88, 0.12);
  margin-bottom: 1rem;
  height: 100px;
  display: block;
}

.cat img {
  width: 75%;
  margin-top: 5px;
}

.cat p {
  position: absolute;
  bottom: 5px;
  width: 60%;
}

a.cat{
  color:grey;
}

a.cat:hover, .cat.active{
  background: rgba(0, 6, 88, 0.12);
  color:#7491d9;
}
.tablet {
  display: none;
}

.cat-mobile {
  text-align: center;
}

.cat-mobile img {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px 0 rgba(0, 6, 88, 0.12);
  padding: 1.3rem;
  margin-bottom: 1rem;
}

.col-mobile img {
  width: 100%;
}

.wp-block-image img {
    width: 100%;
}

a.page-numbers:hover{
    text-decoration: none;
}
.page-numbers {
    margin: 0 5px;
}

.cat-4,.cat-5,.cat-6,
.cat-7, .cat-8,.cat-9,.cat-28 {
  display: none;
}

.order .dropdown-menu {
    background: white;
    border: 1px solid #979797;
}
.order .dropdown-menu a{
    color: #3760c8;
}



/* Events section */
.events {
  padding: 40px 0;
}

.events .col p {
  padding-top: 1rem;
  opacity: 0.8;
  font-size: 16px;
  line-height: 1.56;
  letter-spacing: 0.2px;
  text-align: center;
  color: #000000;
}

.comment-area {
    background: #fff !important;
    border: 1px solid #eee;
    border-radius: 4px;
}

 textarea.comment-area{
  color: grey;
  padding: 1rem;
}
 textarea.comment-area::-webkit-input-placeholder{
  color: grey!important;
}
 textarea.comment-area::-moz-placeholder {
  color: grey!important;
}
/* Media section */
.media li a {
  width: 200px;
  height: 50px;
  text-align: center;
  position: relative;
  padding: 14px 0 0 !important;
  font-size: 16px;
}

.media li a img {
  position: absolute;
  left: 10px;
  top: 7px;
  width: 32px;
}

.media a.active {}

.last-media {
  border-bottom: 2px solid #3760c8;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.text-media {
  padding-left: 1rem;
  color: #444444;
  font-size: 16px;
  line-height: 1.56;
  letter-spacing: 0.2px;
}
.text-media a {
  color: #444444;
}

.text-media b {
  font-size: 20px;
}

/* Grants section */
.grants {
  padding: 70px 0;
  background: linear-gradient(to right, #fff 50%, #3760c8 50%);
}

.button.form {
  background: transparent;
  color: #fff !important;
}

.partners {
  padding-top: 30px;
  border-top: 1px solid #eee;
}

.slider-for {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.slider-nav {
  width: 100%;
  height: auto;
  margin: auto;
}

.slider-nav .slick-track {
  height: 200px;
  align-items: center !important;
  display: flex !important;
}

.slick-slide {
  height: auto;
  margin: 0 2rem;
  opacity: .4;
  cursor:pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.slick-center {
  opacity: 1;
  filter:initial;
}

.slick-list{
  overflow: inherit;
}

/* END SECTIONS */
footer {
  background: #181e2d;
  color: #646872;
  margin-top: 30px;
}

.logo-footer{
  width:50%;
}
.support-btn {
  cursor: pointer;
}

.support-btn:hover {
  text-decoration: underline;
  color: #fff;
}

.support.modal-dialog {
  max-width: 500px;
}

.btn.subscribe {
  background-color: #3760c8;
  border: none;
  border-radius: 0 !important;
  padding-bottom: 2px;
}

.form-control.subscribe {
  background: #4e5054;
  color: #d6d6d6;
  border: 0;
}
